.dashboard-wrapper {
  max-width: 1120px;
	margin: 0 auto;
  padding: 0 30px;

  .header {
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    h1 {
      font-size: 62px;
    }

    h3 {
      font-size: 24px;
      color: rgba($color: #333333, $alpha: 0.85);
    }

    .user {
      display: flex;
      align-items: center;

      p {
        margin-right: 16px;
      }

      .logout {
        cursor: pointer;
        display: flex;
        img {
          margin-left: 6px;
        }
      }
    }
  }
}

.box {
  margin-top: 62px;
  display: flex;
}

.tasks {
  position: relative;

  .plus-icon {
    align-self: center;
  }

  .creating-spinner {
    position: absolute;
    top: 58px;
    left: 70px;
  }

  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  padding: 32px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  width: 500px;
  min-height: 380px;

  margin-right: 62px;
  margin-bottom: 62px;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  p {
    align-self: center;
    margin-top: 92px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;

  }

  .fetching-spinner {
    align-self: center;
    margin: 110px 0 50px 0;
  }
}

.task {
  &:hover {
    background: #EEEEEE;
  }

  p {
    justify-self: flex-end;
  }
    
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 12px;

  border: 1px solid transparent;

  transition: 0.3s;

  cursor: pointer;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  .checkmark {
    margin: 0px 12px;
    border: 2px solid rgba(204, 204, 204, 0.6);
    border-radius: 4px;

    padding: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 12px;
      height: 12px;
      visibility: hidden;
    }
  }

  .checkmark-loader {
    margin-left: auto;
    margin-right: 28px;
  }

  li {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
}

.display-task-wrapper {
  .display-task {
    display: flex;
    flex-direction: column;
  
    background: #FFFFFF;
    padding: 32px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  
    width: 500px;

    label {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 12px;
      
      display: flex;
      flex-direction: column;
    }
  
    .box-1 {

      &.display {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      h3 {
        font-size: 24px;
        max-width: 350px;
        word-wrap: break-word;
      }
  
      p {
        color: #FFAA7C;
      }
  
      .done {
        color: #5AEC9B;
      }
  
      margin-bottom: 36px;
    }
  
    .box-2 {
  
      h4 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 12px;
      }
      
      p {
        max-width: 500px;
        font-size: 18px;
        color: #7D7D7D;
      }
    }
  }

  .display-update-task {
    background: #FFFFFF;
    padding: 32px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  
    min-width: 500px;
    form {
      position: relative;
      display: flex;
      flex-direction: column;
      label {
        margin: 24px 0 12px 0;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;

        display: flex;
        flex-direction: column;
      }
      button {
        align-self: flex-end;
        margin-top: 24px;
      }
    }
  }
  
  .manager-buttons {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;

    .button {
      width: auto;
    }

    h3 {
      font-size: 18px;
    }
  }
}

.button {
  &:hover {
    background: #EEEEEE;
  }

  transition: 0.3s;

  display: flex;
  align-items: center;

  cursor: pointer;

  border: 1px solid transparent;

  align-self: center;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  padding: 12px;

  width: 180px;
  height: 55px;

  .icon {
    background: #D7DDF3;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 12px;

    padding: 6px;

    img {
      width: 14px;
      height: 14px;
    }
  }
}

.selected {
  background: #EEEEEE;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

.taskdone {
  .checkmark {
    background: #5AEC9B;
    border: 2px solid transparent;

    img {
      visibility: visible;
    }
  }
}

.new-task {
  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  padding: 32px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  width: 500px;
  max-height: 380px;

  h3 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .input-title {
    display: flex;
    flex-direction: column;
    
    label {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 12px;
    }

    margin-top: 12px;
  }

  .input-title-2 {
    margin: 24px 0;
  }

  form {
    display: flex;
    flex-direction: column;
  
    .submit-form-button {
      align-self: flex-end;
    }
  }
}
